<div class="d-flex toolbar">
  <input #search
         class="form-control"
         type="text"
         placeholder="Найти"
         (keyup.enter)="filterSku(search.value)">
  <button class="btn btn-primary"
          (click)="filterSku(search.value)">Найти</button>
  <par-dropdown [values]="skuService.parents"
                  class="dropdown-margin"
                  (select)="skuService.onselect($event.value)">
  </par-dropdown>
  <button class="btn btn-primary"
          (click)="sortByPrice()">Сортировать</button>
</div>

<div *ngFor="let sku of skuService.skus | myfilter:skuService.returnFilter()">
  <app-sku-card [sku]="sku"></app-sku-card>
</div>



